{% extends 'base.html' %}


{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>

<title> Rock, Paper, Scissors game! </title>
<link rel="stylesheet" type="text/css" href="{% static 'games/stylesheets/rps_stylesheet.css' %}">
</head>

<body>
	<header>
		<h1> Rock, Paper, Scissors! </h1>
	</header>

	<div class="scores">
		<div id="player-label" class= "badge"> Player </div>
		<div id="computer-label" class= "badge"> Computer </div>
		<span id="player-score">0</span>-<span id="computer-score">0</span>
	</div>

	<div class="result">
		<p> Who will be the winner? </p>
	</div>


	<div class="container-fluid padding">
		<div class="row text-center padding">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="choice" id="r">
					<img src="{% static 'games/images/rps_images/rock.png' %}" alt="">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="choice" id="p">
					<img src="{% static 'games/images/rps_images/paper.png' %}" alt="">
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="choice" id="s">
					<img src="{% static 'games/images/rps_images/scissors.png' %}" alt="">
				</div>
			</div>
			<div class="row welcome text-center">
				<div class="col-12">
					<p id="player-move-message"> Choose your move </p>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'games/js/rps.js' %}" type="text/javascript" charset="utf-8"></script>
</body>


</html>

{% endblock %}
