{% extends 'bae.html' %}


{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>

<title> Rock, Paper, Scissors game! </title>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/rps_stylesheet.css' %}">
</head>

<body>
	<header>
		<h1> Rock, Paper, Scissors! </h1>
	</header>

	<div class="scores">
		<div id="player-label" class= "badge"> Player </div>
		<div id="computer-label" class= "badge"> Computer </div>
		<span id="player-score">0</span>-<span id="computer-score">0</span>
	</div>

	<div class="result">
		<p> Who will be the winner? </p>
	</div>


	<div class="choices">
		<div class="choice col-4" id="r">
			<img src="{% static 'images/rps_images/rock.png' %}" alt="">
		</div>
		<div class="choice col-4" id="p">
			<img src="{% static 'images/rps_images/paper.png' %}" alt="">
		</div>
		<div class="choice col-4" id="s">
			<img src="{% static 'images/rps_images/scissors.png' %}" alt="">
		</div>
	</div>

	<p id="player-move-message"> Choose your move </p>
	<script src="{% static 'js/rps.js' %}" type="text/javascript" charset="utf-8"></script>
</body>


</html>

{% endblock %}