{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<title> Connect page! </title>
</head>



<body>

<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2> Connect with me on any of these platforms </h2>
		</div>
		<div class="col-12 social padding">
			<a href="https://www.facebook.com/cordell.charles"><i class="fab fa-facebook"></i></a>
			<a href="https://github.com/cordell-charles"><i class="fab fa-github"></i></a>
			<a href="https://www.instagram.com/cordell_charles/"><i class= "fab fa-instagram"></i></a>
		</div>
	</div>
</div>


<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-12">
				<hr class="light">
				<h3> Cordell Charles </h3>
				<p> +44 75723 48482</p>
				<p> cordellcharles95@gmail.com </p>
				<hr class="light">
			</div>
		</div>
	</div>
</footer>

</body>

</html>
