{% extends 'base.html' %}


{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<title> Connect page! </title>
</head>
<body>


<div class= "container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h1> Get in touch below! </h1>
		</div>
	</div>
</div>



{% for object in objects %}
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-2 mx-auto">
			<div class="card" style="width:18rem;">
				{% if object.image %}
					<img class="card-img-top" src="{{object.image.url}}" alt="Card image cap"> 
				{% endif %}
				<div class="card-body">
					<h5 class="card-title"> {{ object.title }} </h5>
					<p class="card-text"> {{ object.content }} </p>
					<small class= 'text-muted'> {{ object.name }}</small>
					<small class= 'text-muted'> {{ object.timestamp }}</small>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}



<div class="fixed-background">
	<div class="col-12 text-center text=uppercase mt-5">
		<h1 class="text-secondary pb-3">
			<i class="fas fa-asterisk"></i> Expand comment box below <i class="fas fa-asterisk"></i>
		</h1>
		<div class="border-top border-secondary w-50 mx-auto"></div>
	</div>
	<div class="fixed-wrap">
		<div class="fixed-image"></div>
	</div>
</div>




<button class="comments" data-toggle="collapse" data-target="#comment-section"> Click to add a comments </button>
<div id="comment-section" class="collapse">
	<div class="container-fluid padding">
		<div class="row text-center padding">
			<div class="col-12">
				<form method='POST' action='.' enctype='multipart/form-data'> {% csrf_token %}
						{{ form.as_p }}
					<button type="submit" class="btn btn-primary"> Submit </button>
				</form>
			</div>
		</div>
	</div>
</div>





<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2> Feel free to connect with me on any of these platforms </h2>
		</div>
		<div class="col-12 social padding">
			<a href="https://www.facebook.com/cordell.charles"><i class="fab fa-facebook"></i></a>
			<a href="https://github.com/cordell-charles"><i class="fab fa-github"></i></a>
			<a href="https://www.instagram.com/cordell_charles/"><i class= "fab fa-instagram"></i></a>
			<a href="https://www.linkedin.com/in/cordell-charles"><i class="fab fa-linkedin"></i></a>
		</div>
	</div>
</div>


<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-12">
				<hr class="light">
				<h3> Cordell Charles </h3>
				<p> P: +44 75723 48482</p>
				<p> E: cordellcharles95@gmail.com </p>
				<hr class="light">
			</div>
		</div>
	</div>
</footer>

</body>

</html>
{% endblock %}