{% extends "base.html"}

{% block content %}

<!DOCTYPE html>

<html>

<head>
	<title> Hangman! </title>
	<link rel="stylesheet" type="text/css" href="hangman_stylesheet.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<script src="../jquery-3.5.1.js"></script>
	<div class= "wrapper">
		<h1 id= "heading"> Hangman! </h1>

		<div id="scores">		
			<p>Wins: &nbsp;<span id="wins"> </span></p>
			<p>Losses: &nbsp;<span id="losses"> </span></p>
		</div>  


		<div class="letters">
			<div id="underline-1">
				<div id="letter-1"></div>
			</div>
			<div id="underline-2">
				<div id="letter-2"></div>
			</div>
			<div id="underline-3">
				<div id="letter-3"></div>
			</div>
			<div id="underline-4">
				<div id="letter-4"></div>
			</div>
			<div id="underline-5">
				<div id="letter-5"></div>
			</div>
			<div id="underline-6">
				<div id="letter-6"></div>
			</div>
			<div id="underline-7">
				<div id="letter-7"></div>
			</div>
			<div id="underline-8">
				<div id="letter-8"></div>
			</div>
			<div id="underline-9">
				<div id="letter-9"></div>
			</div>
			<div id="underline-10">
				<div id="letter-10"></div>
			</div>
			<div id="underline-11">
				<div id="letter-11"></div>
			</div>
			<div id="underline-12">
				<div id="letter-12"></div>
			</div>
			<div id="underline-13">
				<div id="letter-13"></div>
			</div>
			<div id="underline-14">
				<div id="letter-14"></div>
			</div>
			<div id="underline-15">
				<div id="letter-15"></div>
			</div>
		</div>

		<div class= "drawing">
			<canvas id="myCanvas" width="500" height="500"></canvas>

			<h4 id="comment"></h4>

			<p id="answer"></p>
			<button type="button" id="reset"> Reset </RP></button>
			<button type="button" id="next-game" style="display: none;"> Next-game </button>
		</div>

		<div class="keyboard">
			<table>
				<tr id=1>
				  <td><button id="A"> A</button></td>
				  <td><button id="B"> B</button></td>
				  <td><button id="C"> C </button></td>
				  <td><button id="D"> D</button></td>
				  <td><button id="E"> E</button></td>
				  <td><button id="F"> F</button></td>
				  <td><button id="G"> G </button></td>
				  <td><button id="H"> H</button></td>
				  <td><button id="I"> I</button></td>
				  <td><button id="J"> J</button></td>
				  <td><button id="K"> K</button></td>
				  <td><button id="L"> L</button></td>
				  <td><button id="M"> M </button></td>
				</tr>
				<tr>
				  <td><button id="N"> N</button></td>
				  <td><button id="O"> O</button></td>
				  <td><button id="P"> P</button></td>
				  <td><button id="Q"> Q </button></td>
				  <td><button id="R"> R</button></td>
				  <td><button id="S"> S</button></td>
				  <td><button id="T"> T</button></td>
				  <td><button id="U"> U</button></td>
				  <td><button id="V"> V</button></td>
				  <td><button id="W"> W </button></td>
				  <td><button id="X"> X</button></td>
				  <td><button id="Y"> Y</button></td>
				  <td><button id="Z"> Z</button></td>
				</tr>
			</table>
		</div>
	</div>

	<script src="game.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>

{% endblock %}