{% extends "base.html" %}

{% block content %}
{% load static %}
<!DOCTYPE html>

<html>

<head>
	<title> Hangman! </title>
	<link rel="stylesheet" type="text/css" href="{% static 'games/stylesheets/hangman_stylesheet.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<script src="{% static 'games/js/jquery-3.5.1.js' %}"></script>

	<h1 id= "heading"> Hangman! </h1>

	<div id="scores">		
		<p>Wins: &nbsp;<span id="wins"> </span></p>
		<p>Losses: &nbsp;<span id="losses"> </span></p>
	</div>  


	<div class="container-fluid" id="all-letters">
		<div id="underline-1">
			<div id="letter-1"></div>
		</div>
		<div id="underline-2">
			<div id="letter-2"></div>
		</div>
		<div id="underline-3">
			<div id="letter-3"></div>
		</div>
		<div id="underline-4">
			<div id="letter-4"></div>
		</div>
		<div id="underline-5">
			<div id="letter-5"></div>
		</div>
		<div id="underline-6">
			<div id="letter-6"></div>
		</div>
		<div id="underline-7">
			<div id="letter-7"></div>
		</div>
		<div id="underline-8">
			<div id="letter-8"></div>
		</div>
		<div id="underline-9">
			<div id="letter-9"></div>
		</div>
		<div id="underline-10">
			<div id="letter-10"></div>
		</div>
		<div id="underline-11">
			<div id="letter-11"></div>
		</div>
		<div id="underline-12">
			<div id="letter-12"></div>
		</div>
		<div id="underline-13">
			<div id="letter-13"></div>
		</div>
		<div id="underline-14">
			<div id="letter-14"></div>
		</div>
		<div id="underline-15">
			<div id="letter-15"></div>
		</div>
	</div>



	<div class="container-fluid">
		<canvas id="mycanvas" width="500" height="500"></canvas>
	</div>

	<div class="container-fluid">
		<div class= "row text-center">
			<div class="col-12">
				<h4 id="comment"></h4>
				<p class="lead" id="answer"></p>
			</div>
		</div>
	</div>


	<div class="container-fluid">
		<!--
		<div class= "row text-center padding">
			<div class="col-12">
				<button type="button" id="reset">Reset</button>
				<button type="button" id="next-game">Next-game</button> 
			</div>
		</div> 
	-->

		<div class="row text-center padding">
			<div class="col-12">
				<button id="A"> A</button>
				<button id="B"> B</button>
				<button id="C"> C </button>
				<button id="D"> D</button>
				<button id="E"> E</button>
				<button id="F"> F</button>
				<button id="G"> G </button>
				<button id="H"> H</button>
				<button id="I"> I</button>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-2">
				<button type="button" id="reset">Reset</button>
			</div>

			<div class="col-8 padding">
				<button id="J"> J</button>
				<button id="K"> K</button>
				<button id="L"> L</button>
				<button id="M"> M</button>
				<button id="N"> N</button>
				<button id="O"> O</button>
				<button id="P"> P</button>
				<button id="Q"> Q</button>
				<button id="R"> R</button>
			</div>

			<div class="col-2">
				<button type="button" id="next-game" disabled>Next-game</button>
			</div>

		</div>
		<div class="row text-center padding">
			<div class="col-12">
				<button id="S"> S</button>
				<button id="T"> T</button>
				<button id="U"> U</button>
				<button id="V"> V</button>
				<button id="W"> W</button>
				<button id="X"> X</button>
				<button id="Y"> Y</button>
				<button id="Z"> Z</button>
			</div>
		</div>
	</div>


	<script src="{% static 'games/js/hangman.js' %}" type="text/javascript" charset="utf-8"></script>
</body>

</html>

{% endblock %}